<h1 style="text-align: center;">Please fill in to proceed the order</h1>

<section>
 <div class="container">
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Log in if you are a user</h5>
        <%= render 'devise/sessions/new' %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sign up</h5>
         <%= render 'devise/registrations/new' %>
      </div>
    </div>
  </div>
</div>
 </div>
</section>
