      <div class="py-5 text-center">
        <h2>Checkout</h2>
        <p class="lead">Below is an example form built entirely with Bootstrap's form controls.</p>
      </div>

<%= render "form", order: @order %>

       
